<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioRedo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <h3><%= link_to "Temporary", main_index_url %></h3>
      <% if current_user %>
        <%= current_user.email %> | <%= link_to "Sign out", '/signout' %>
      <% else %>
        <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
      <% end %>

      <%= flash[:alert] %>
      <%= flash[:notice] %>

      <%= yield %>
    </div>
  </body>
</html>
